@model List<Post>

<main id="site__main" class="h-[calc(100vh-var(--m-top))] mt-[--m-top] p-2.5 xl:ml-[--w-side-sm] 2xl:ml-[--w-side]">
    <div class="mx-auto max-w-[1065px] gap-12 lg:flex 2xl:gap-16" id="js-oversized">
        <div class="mx-auto max-w-[680px]">
            @* stories *@
            <div class="mb-8">
                <h3 class="hidden text-2xl font-extrabold text-black">Stories</h3>

                <div class="relative" tabindex="-1" uk-slider="auto play: true;finite: true" uk-lightbox="">
                    <div class="uk-slider-container py-5">
                        <ul class="uk-slider-items w-[calc(100%+14px)]" uk-scrollspy="target: > li; cls: uk-animation-scale-up; delay: 20;repeat:true">

                            <li class="md:pr-3" uk-scrollspy-class="uk-animation-fade">
                                <div class="relative grid h-12 w-12 shrink-0 place-items-center rounded-full border-2 border-dashed border-slate-300 bg-slate-200 md:h-16 md:w-16"
                                     uk-toggle="target: #create-story">
                                    <ion-icon name="camera" class="text-2xl"></ion-icon>
                                </div>
                            </li>

                            <li class="pr-2 duration-300 hover:scale-[1.15] hover:-rotate-2 md:pr-3">
                                <a href="~/images/avatar/user.png">
                                    <div class="relative h-12 w-12 overflow-hidden rounded-full border-2 border-white shadow md:h-16 md:w-16 md:border-4">
                                        <img src="~/images/avatar/user.png" />
                                    </div>
                                </a>
                            </li>
                            <li class="pr-2 duration-300 hover:scale-[1.15] hover:-rotate-2 md:pr-3">
                                <a href="~/images/avatar/user.png">
                                    <div class="relative h-12 w-12 overflow-hidden rounded-full border-2 border-white shadow md:h-16 md:w-16 md:border-4">
                                        <img src="~/images/avatar/user.png" />
                                    </div>
                                </a>
                            </li>
                            <li class="pr-2 duration-300 hover:scale-[1.15] hover:-rotate-2 md:pr-3">
                                <a href="~/images/avatar/user.png">
                                    <div class="relative h-12 w-12 overflow-hidden rounded-full border-2 border-white shadow md:h-16 md:w-16 md:border-4">
                                        <img src="~/images/avatar/user.png" />
                                    </div>
                                </a>
                            </li>
                            <li class="pr-2 md:pr-3">
                                <div class="h-12 w-12 animate-pulse rounded-full bg-slate-200/60 md:h-16 md:w-16"></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="mx-auto flex-1 space-y-3 md:max-w-[580px] xl:space-y-6">

                <div class="border1 space-y-4 rounded-xl bg-white p-2 text-sm font-medium shadow-sm md:p-4">
                    <div class="flex items-center gap-1 md:gap-3">
                        <div class="flex-1 cursor-pointer rounded-lg bg-slate-100 transition-all hover:bg-opacity-80" uk-toggle="target: #create-status">
                            <div class="py-2.5 text-center">What do you have in mind?</div>
                        </div>
                        <div class="cursor-pointer rounded-xl bg-pink-100/60 p-1 px-1.5 transition-all hover:bg-pink-100 hover:bg-opacity-80" uk-toggle="target: #create-status">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 fill-pink-200/70 stroke-pink-600" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M15 8h.01" />
                                <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
                                <path d="M3.5 15.5l4.5 -4.5c.928 -.893 2.072 -.893 3 0l5 5" />
                                <path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l2.5 2.5" />
                            </svg>
                        </div>
                    </div>

                </div>

                @if (Model.Count == 0)
                {
                    <div class="border1 space-y-4 rounded-xl bg-white p-2 text-sm font-medium shadow-sm md:p-4" style="width: 580px;">
                        Currently, there are no posts available. Would you like to create the first one?
                    </div>
                }
                else
                {
                    @foreach (var post in Model)
                    {
                        <partial name="Home/_Post" model="post" />
                    }
                }



            </div>
        </div>
        <div class="flex-1">
            <div class="sm:grid-cols-2 lg:space-y-4 lg:pb-8 max-lg:grid max-lg:gap-6">
                <div class="box p-5 px-6">
                    <partial name="Sidebar/_SuggestedFriends" />
                </div>
                <div class="box border1 p-5 px-6">
                    <partial name="Sidebar/_TrendsForYou" />
                </div>
            </div>
        </div>
    </div>
</main>

<partial name="Modals/_CreateStory" model="new StoryVM()" />
<partial name="Modals/_CreateStatus" model="new PostVM()" />
<partial name="Home/_PostDeleteConfirmation" />

<script>
    function openPostDeleteConfirmation(postId) {
        UIkit.dropdown('.post-options-dropdown').hide();
        document.getElementById('deleteConfirmationPostId').value = postId;
        UIkit.modal('#postDeleteDialog').show();
    }
</script>